{% extends "base.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block content %}

<h2>Password Reset</h2>

<p>
    We received a request to reset the password for your
    <strong>Fintex</strong> account.
</p>

<p>
    Click the button below to create a new password.
</p>

<p
    style="
        text-align:center;
        margin:40px 0;
    "
>
    <a
        href="{{ reset_password_url }}"
        style="
            background:#dc2626;
            color:white;
            padding:14px 28px;
            border-radius:8px;
            text-decoration:none;
            display:inline-block;
        "
    >
        Reset Password
    </a>
</p>

<p>
    If you didn't request a password reset,
    you can safely ignore this email.
</p>

<p>
    This link expires in <strong>1 hour</strong>.
</p>

{% endblock %}